NEXT_PUBLIC_SITE_URL=https://joaonunesmaia.org
NEXT_PUBLIC_SUPABASE_URL=https://piawpzqwdvvelszhcgig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sGtGgk8sJAh1Zges74g07g_zw8YwuQW
SUPABASE_SERVICE_ROLE_KEY=sb_secret_koMlXotPtfQkDIa57lrLZg_p6BOFhPv
